#hint-container {
  position: absolute;
  top: 45px;
  width: 700px;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  border-radius: 20px;
}

#hint-container section {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}

#hint-container section h3 {
  width: 100%;
  border-bottom: 1px solid rgba(122, 122, 122, 0.555);
  text-align: left;
  padding: 0.3rem;
}

.item-result {
  display: flex;
  align-items: center;
}

.item-result:hover {
  background: #607d8b;
}

.display-result {
  margin-bottom: 1px;
}

.picture-result {
  margin: 5px;
}

