.humor {
  font-size: 50px;
  height: 250px;
  width: 250px;
  border-radius: 125px;
  display: flex;
  flex-wrap: wrap;
  left: 150px;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgb(141, 141, 141) 100%
  );
  justify-content: center;
  align-items: center;
}

.humor:hover {
  background: radial-gradient(
    circle,
    rgba(141, 141, 141, 1) 0%,
    rgb(0, 0, 0) 100%
  );
  
}

.humor-1 {
  height: 70px;
  border-radius: 200px 20px;
  padding-top: 30px;
  cursor: pointer;
}

.humor-2 {
  height: 70px;
  border-radius: 200px;
  padding-bottom: 30px;
  cursor: pointer;
}

.humor-3 {
  height: 70px;
  border-radius: 20px 200px;
  padding-top: 30px;
  cursor: pointer;
}

.humor-4 {
  height: 70px;
  border-radius: 20px 200px;
  padding-bottom: 30px;
  cursor: pointer;
}

.humor-5 {
  height: 70px;
  border-radius: 35px;
  padding-top: 30px;
  cursor: pointer;
}

.humor-6 {
  height: 70px;
  border-radius: 200px 20px;
  padding-bottom: 30px;
  cursor: pointer;
}
